
#canvas{
    position: relative;
    left: 10%;
}
#query{
    background-color: grey;
    align-items: center;
    width: 100%;
}
/*CATEGORIAS*/
.categoria{
    position: relative;
    background: none;
    border: solid black;
    cursor: pointer;
}

/*COLORS*/
/*Meter o transform a dar mm com o transition-delay*/
.color{
    border: 0.1vw solid black;
    padding: 1vw;
    cursor: pointer;
    border-radius: 100%;
 /*   transition-duration: 0.4s;*/
}
.color:hover{
    padding: 1.3vw;
  /*  transition-delay: 0.3s;*/
  /*  transition-duration: 0.4s;*/
}
.color:active{
    transform: translateY(1vw);
}

#red{
    background-color: red;
}

#orange{
    background-color: orange;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
#Blue-green{
    background-color: #0d98ba;
}
#blue{
    background-color: blue;
}
#purple{
    background-color: purple;
}
#pink{
    background-color: pink;
}
#white{
    background-color: white;
}
#grey{
    background-color: grey;
}
#black{
    background-color: black;
}
#brown{
    background-color: brown;
}


